/* CSS Document */

body{
	margin: 0;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 16px;
}

i{
	color: #999;
    font-style: normal;
    font-size: 14px;
}

#mainBox > div{
	padding: 20px;
}

button, #node a, input[type="button"]{
	display: inline-block;
    padding: 5px 15px;
    border: 1px solid darkgreen;
    border-radius: 4px;
    margin: 4px;
    text-decoration: none;
    background: lightyellow;
    color: darkgreen;
	cursor: pointer;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 16px;
}

button:hover,
input[type="button"]:hover{
	background: darkorange;
    color: white;
    border-color: white;
}

button[disabled]{
	pointer-events: none;
	color: #ccc;
	border-color: #ccc;
}

#menuBox .menu{
	position: relative;
	display: inline-block;
	padding-bottom: 5px;
}
#menuBox .subMenu{
	position: absolute;
	display: none;
    padding: 2px 6px;
    background: beige;
    box-shadow: 2px 2px 5px #ccc;
    border: 1px solid #ccc;
    top: 98%;
}
#menuBox .subMenu > *{
	display: block;
	white-space: nowrap;
	width: 100%;
	margin: 4px 0;
}
#menuBox .menu:hover > .subMenu{
	display: block;
}
#menuBox .menu.hide:hover > .subMenu{
	display: none;
}

#menuBox .menu.new{
	display: none;
}
#mainBox.ready .menu.new{
	display: inline-block;
}

#node{
	border: 1px solid #ccc;
    padding: 4px;
}
#node a{
	text-decoration: none;
    color: black;
    padding: 4px 10px;
    background: aliceblue;
    border-color: bisque;
    font-size: 14px;
}
#node a:hover{
	text-decoration: underline;
}

#nodeBox, #nextNode, #prop, #paginate{
	display: none;
}

#nextNode div, #paginate div{
	border: 1px solid #ccc;
    margin-bottom: 20px;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	padding: 4px;
}
#nextNode div:after, #paginate div:after{
	content: "";
	flex: auto;
}

#paginate input{
	font-size: 14px;
	padding: 4px 8px;
}
#paginate input.now{
	background: none;
    border-color: #ccc;
    color: #ccc;
	pointer-events: none;
}

#prop div{
	display: table;
	border-collapse: collapse;
}

label{
	display: table-row;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
label var{
	display: table-cell;
	padding: 4px;
	font-style: normal;
	border: 1px solid #ccc;
}
label var:first-child{
	text-align: right;
	background: lightyellow;
}
label var:not(:first-child){
	word-break: break-all;
    background: #fff;
    color: black;
    font-size: 14px;
}
label:hover var:first-child{
	background-color: beige;
}
label:hover var:not(:first-child){
	background-color: aliceblue;
}

#popUpBox{
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
	display: none;
}

#popUpBox center{
	display: table;
    margin: auto;
	height: 100%;
}
#popUpBox div.middle{
	display: table-cell;
	vertical-align: middle;
}
#popUpBox div.frame{
	padding: 20px;
    border: 1px solid #ccc;
    position: relative;
    background: aliceblue;
    box-shadow: 0 0 10px lightgrey;
	top: -70px;
	text-align: left;
}
#popUpBox .popUpClose{
	position: absolute;
    top: -40px;
    right: -4px;
    padding: 4px 8px;
	box-shadow: 0 0 10px lightgrey;
}

#popUpBox textarea{
	min-height: 120px;
	min-width: 230px;
	width: 500px;
}
#popUpBox i{
	display: block;
    text-align: left;
    margin-bottom: 10px;
}
